@font-face {
    font-family: 'anybearthing';
    font-style: normal;
    font-weight: 400;
    src: local('anybearthing'), url('https://2ttf.com/webfont/ATbeVVABwsM/webfont.ttf') format('truetype');
}
