@font-face {
    font-family: 'bubblyfontv2';
    font-style: normal;
    font-weight: 400;
    src: local('bubblyfontv2'), url('https://2ttf.com/webfont/BSGP7ofiPgm/webfont.ttf') format('truetype');
}
