@font-face {
    font-family: 'CandleLight01';
    font-style: normal;
    font-weight: 400;
    src: local('CandleLight01'), url('https://2ttf.com/webfont/xA4ZyrSHcM/webfont.ttf') format('truetype');
