@font-face {
    font-family: 'CopyofKanchaHappyCute';
    font-style: normal;
    font-weight: 400;
    src: local('CopyofKanchaHappyCute'), url('https://2ttf.com/webfont/BZzggBnayWI/webfont.ttf') format('truetype');
}
