@font-face {
    font-family: 'DSEmojiep4';
    font-style: normal;
    font-weight: 400;
    src: local('Emoji Font V.1'), url('https://2ttf.com/webfont/5c6Dk1S1vy8/webfont.ttf') format('truetype');
}
