@font-face {
    font-family: 'Emojiopal4skin';
    font-style: normal;
    font-weight: 400;
    src: local('Emojiopal4skin'), url('https://2ttf.com/webfont/7xi4gyOybQw/webfont.ttf') format('truetype');
}
