@font-face {
    font-family: 'emojifahsai2';
    font-style: normal;
    font-weight: 400;
    src: local('emojifahsai2'), url('https://2ttf.com/webfont/1oLTTe2ClgK/webfont.ttf') format('truetype');
}
