@font-face {
    font-family: 'fontmaewmedium';
    font-style: normal;
    font-weight: 400;
    src: local('fontmaew medium'), url('https://2ttf.com/webfont/2DRMJngWJwg/webfont.ttf') format('truetype');
