@font-face {
    font-family: 'JpcheekycheekB';
    font-style: normal;
    font-weight: 400;
    src: local('JpcheekycheekB'), url('https://2ttf.com/webfont/GLZkKTa78a6/webfont.ttf') format('truetype');
}
