@font-face {
    font-family: 'katiefont01';
    font-style: normal;
    font-weight: 400;
    src: local('katiefont01'), url('https://2ttf.com/webfont/EiZ4n3OVSCI/webfont.ttf') format('truetype');
}
