@font-face {
    font-family: 'MEANNX1stemoji';
    font-style: normal;
    font-weight: 400;
    src: local('MEANNX1stemoji'), url('https://2ttf.com/webfont/6Jr8zpA3Dk2/webfont.ttf') format('truetype');
}
