@font-face {
    font-family: 'nubnibemoji';
    font-style: normal;
    font-weight: 400;
    src: local('nubnibemoji'), url('https://2ttf.com/webfont/H1eUVLnIOWQ/webfont.ttf') format('truetype');
}
