@font-face {
    font-family: 'OrdinaryFont';
    font-style: normal;
    font-weight: 400;
    src: local('Ordinary Font'), url('https://2ttf.com/webfont/BesOnuBmZU6/webfont.ttf') format('truetype');
