@font-face {
    font-family: 'prettyplangVemoji';
    font-style: normal;
    font-weight: 400;
    src: local('prettyplangVemoji'), url('https://2ttf.com/webfont/DOfXK5RpeCo/webfont.ttf') format('truetype');
}
