@font-face {
    font-family: 'satangemoji1';
    font-style: normal;
    font-weight: 400;
    src: local('sa.tang emoji1'), url('https://2ttf.com/webfont/Ghm8pUPURcy/webfont.ttf') format('truetype');
