@font-face {
    font-family: 'TCS4Surprise';
    font-style: normal;
    font-weight: 400;
    src: local('TCS4Surprise'), url('https://2ttf.com/webfont/4ds2K1xZcOW/webfont.ttf.ttf') format('truetype');
}
